/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: lightslategray;    /* achtergrondkleur lichtgrijs */
  color: #303030;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */
.kolomLinks2{
  float:left;
  padding-right:20px;
  width:30%;
}
.bitjes{  
background-color:lightslategray;
  padding:20px;
  border:solid 2px lightblue;
}
.kolomLinks1{
  float:left;
  padding-right:15px;
  width:30%;
}
.page {
  width: 100%;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:40%;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 60%;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}
.eerste {
  background-color:lightslategray;
  padding:20px;
  border:solid 2px lightblue;
}
.twee{
  background-color:lightslategray;
  padding:20px;
  border:solid 2px lightblue;
}
.drie{
  background-color:lightslategray;
  padding:20px;
  border:solid 2px lightblue;
}

/* Opmaak voor alle pagina's */
.vier{
  background-color: lightslategray;
  padding:20px;
  border:solid 2px lightblue;
}

h1, h2, h3 {
      color: lightblue;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.achtergrondPlaatje {
  background-image: url("afbeeldingen/boksen3.jpg");
}

/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: grey;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3857b2;
}

nav li a.active {
    background-color: lightblue;
}
