/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: lightslategray;    /* achtergrondkleur lichtgrijs */
  color: #303030;
  height:100%;
  padding:0;
  background-image: url("https://www.vpro.nl/.imaging/mte/vpronl/opengraph/dam/vpronl/programmas/m/muhammad-ali/Muhammad-Ali_2021_04_VPRO-2.jpg/jcr:content/Muhammad-Ali_2021_04_VPRO%202.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */
.kolomGevecht:hover, .kolomHandschoen:hover, .imgbitjes:hover{
 transform:scale(1.1);
}
b {
  font-weight: bold;
  color: lightblue;
}

.kolomHandschoen{
  float:left;
  padding-right:20px;
  width:25%;
  transition: transform .2s; 
}

.kolomLinks1,{
  float:left;
  padding-right:15px;
  width:30%;
  transition: transform .2s;
}
.imgbitjes{
  float:left;
  padding-right:15px;
  width:35%;
  transition: transform .2s;
}
.page {
  width: 70%;                   /* vaste breedte van 700 pixels */
 min-width: 600px;
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 0px 0px;
  margin-bottom:10px;
  text-align: justify;            /* tekst links en rechts uitvullen */
  padding:10px;
}


/* Indeling voor hoofd pagina */

.kolomGevecht {
  float:left;
  width:40%;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  font-family: baskerville;
  float:left;
  width: 60%;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}


/* Opmaak voor alle pagina's */
.lettertype{
font-size:18px;
font-family: baskerville;
  background-color:rgba(255,255,255,50%);
}
.kolomRechts {
  float:left;
  width: 60%;
}


h1, h2, h3 {
      color: lightblue;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
  color:white;
}

a {
    color: lightsteelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: grey;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
  background-color: #3857b2;
  border-radius: 15px;
  border: 2px solid #3857b2;
  padding: 10px;
  width: 100px;
  height: 40px;
}
nav li a.active {
  background-color: lightblue;
  border-radius: 15px;
  border: 2px solid lightblue;
  padding: 10px;
  width: 100px;
  height:40px;
}
